@model StudentManagementSystem.Models.Students

@{
    <form asp-action="DeleteStudent" method="post">
        Student ID: <input type="number" name="id" />
        <input type="submit" value="Delete" />
    </form>
    }
}

